@import url('https://fonts.googleapis.com/css?family=Tinos');

.dropdown-toggle::after {
    display:none
}

#answer-btn {
    font-size: 1.2em;
    width: 5.5em;
    height:2.3em;
    padding: .3em;
    margin: -3.5em 0 -3em;
}
#container {
    text-align: center;
}

#hebrew-letter {
    line-height:1em;
    margin-bottom:.2em;
    font-family: Tinos;
    font-size: 8em;
}
#hrs-min {
    font-size: 5.5em;
    line-height: 1.2em;
    margin-bottom: .2em;
}

#input-num {
    font-size: 2em;
    margin-top: .6em !important;
    text-align: center;
}

.menu-sign {
    font-size: 1.2em;
}
#min-max-input {
    margin:0 auto;
}
#min-max-input input {
    margin-top: 1em;
}

#num {
    margin-top: -.1em;
    font-size: 6.75em;
}
#num-answ, #letter-answ, #answer {
    display: none;
    margin-top:1em;
    font-size: 1.5em;
}
#num-answ-heb, #answer-hebrew {
    font-family: 'Tinos', serif;
    color: #359;
}
#num-answ-rus, #answ-letter-rus, #answer-translit {
    font-family: serif;
    font-style: italic;
}

.nums-table {
    font-family: serif;
    margin:1em auto;
}
.nums-table td {
    font-size: .8em;
    text-align: right;
}

@media (max-width: 600px) {
}
