@import url('https://fonts.googleapis.com/css?family=Tinos');

.dropdown-toggle::after {
    display:none
}

#answ-btn {
    width: 5.5em;
    height:2.5em;
    padding: .3em;
    margin: -.4em 0 -.4em;
}
#container {
    text-align: center;
}

#input-num {
    font-size: 2em;
    line-height: 1em;
    margin-top: .5em !important;
    text-align: center;
}

#min-max-input {
    margin:0 auto;
}
#min-max-input input {
    margin-top: 1em;
}

#num {
    margin-top: -.1em;
    font-size: 6.75em;
}
#num-answ {
    display: none;
    margin-top:1em;
    font-size: 1.5em;
}
#num-answ-heb {
    font-family: 'Tinos', serif;
    color: #359;
}
#num-answ-rus {
    font-family: serif;
    font-style: italic;
}

.nums-table {
    font-family: serif;
    margin:1em auto;
}
.nums-table td {
    font-size: .8em;
    text-align: right;
}

@media (max-width: 600px) {
}
